.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
 
}

.filter {
  width: 20%;
 
}

.addEmp{
  margin: 30px 30px;
  font-size: 15px;
}

.action {
  display: flex;
  gap: 5px;
}
b{
  font-size:20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}